@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Merriweather&family=Montserrat:ital,wght@0,400;0,700;0,900;1,700;1,900&family=Permanent+Marker&family=Sacramento&family=Ubuntu&display=swap');
*{
    padding: 0;
    text-decoration: none;
    margin:0%;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: Monteserrat; 
   background:url(https://img.freepik.com/free-vector/winter-blue-pink-gradient-background-vector_53876-117276.jpg?w=996&t=st=1665762504~exp=1665763104~hmac=2ab8c7b14b282ffa5d7ef02649ad11570ae36edcdb0972facce73a3539bf19a7);
   background-repeat: no-repeat;
   background-size: cover;
   
}
img{
  width:100%;
  height:100%;
  background-repeat: no-repeat;
}

/*---------------------------------------- navigation bar setup--------------------------------------------------- */
nav{
background: rgb(237, 144, 159);
height: 80px;
width: 100%;
position: sticky;
top:0;
z-index:1;
}
label.logo{
    font-size:35px;
    line-height:80px;
    padding: 0 100px;
    color:#E6E6FA;
     font-weight: bold; 


    }
    .log{
        height:50px;
        width:75px
    }
nav ul{
    float:right;
    margin-right: 20px;
}
nav ul li
{
    display:inline-block;
    line-height: 80px;
    margin:0 5px;
    
}
nav ul li a{
    color:#696969;
    font-size: 17px;
    padding: 7px 13px;
    border-radius:3px ;
    text-transform: uppercase;

}
 nav a:hover{
    background: #E0FFFF;
    transition: 2s;
    color:blueviolet
}

.checkbtn
{
    font-size:30px;
   color:#000303;
    float:right;
    line-height: 80px;
    margin-right: 40px;
    cursor:pointer;
    display:none;


}
#check{
 
     display:none;  

}

@media(max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
font-size: 16px;
    }
}
@media(max-width:858px)
{
    .checkbtn{
      width: 20px;
      height: 10px;
        display: block;
    }
    ul{
        position: fixed;
        width:100%;
        height:100vh;
        background-color: #293d3d;
        top:80px;
        left:-100%;
        text-align: center;
        transition: all.5s;

    }
      


    
     nav ul li{
        display: block;
     }
     nav ul li a{
        font-size: 20px;
     }
     a:hover{
        background: none;
        color:rgb(237, 218, 218);


     }
     #check:checked ~ ul{
        left:0;
     }
}
/*-                                           homepage setup                                                    */

.first-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-self:center;
  margin-top: 2.1rem;
  height:31.25rem;


}
.intro{ 
  margin-top: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  line-height:10px;
 
}
.right-header{
  padding-top: 3rem;

}
.pin{

  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; 
  font-weight: bold;
  width:500px;

}

.fimg{
  margin-left: 70px;
  width:400px;
  height:400px;
  border-radius: 100%;

}
   

.title{
    font-size:25px;
    padding:30px;
    font-family: 'Brush Script MT', cursive;
    color: #fff;
    font-size: 20px;
    font-weight: lighter;
    background: transparent;
    
    
}
.himg{
    border-radius: 10px;
    align-self: center;
    height: 270px;
    width: 450px;
    margin-left: 50px;
background: transparent;

}

  

    #services{
      margin-top: 3rem;
      background: url(https://img.freepik.com/free-vector/pastel-ombre-background-pink-purple_53876-120750.jpg?size=626&ext=jpg&ga=GA1.2.852195669.1665166103);
      font-size: 2.4rem;
      color: #101413;
      font-weight: 600;
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-repeat: no-repeat;
      background-size: cover;

    }
    @media(max-width:952px){
#services{
  margin-top:6rem;
  
}

    }
    .he{
      margin-bottom: 100px;

    }
    .page3{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      height:100%;
      align-self: center;
      margin-bottom: 100px;
      

    }
    
      
    .flip-card {
      margin:10px;
      background-color: transparent;
      width: 360px;
      height: 260px;
      border: 1px solid #151313;
    }
    
    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style:preserve-3d;
  
    }
    
    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
    }
    
    .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }
    
    .flip-card-front {
      background-color: #bbb;
      color: black;
    }
    
    .flip-card-back {
      background-color: rgb(227, 232, 237);
      color: rgb(20, 18, 18);
      transform: rotateY(180deg);
    }


    #port{
      display: flex ;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      flex-direction: column;
      padding: 40px;
      border-bottom:  1px solid black;
      font-family: poppins;
      box-sizing: border-box;
      background: url(https://img.freepik.com/free-vector/winter-blue-pink-gradient-background-vector_53876-117276.jpg?w=996&t=st=1665762504~exp=1665763104~hmac=2ab8c7b14b282ffa5d7ef02649ad11570ae36edcdb0972facce73a3539bf19a7);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .port1-heading{
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .port1-heading span{
      color:#030103;

    }
 .port1-heading h3{
  font-size: 2.4rem;
  color: #79b0a1;
  font-weight: 600;
 }
 .port1-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:20px 0px;
  flex-wrap: wrap;
 }
 .port1-box{
  width:350px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  margin: 20px;
  box-shadow: 0px 14px 32px 0px rgba(66, 5, 5, 0.15); 
  border-radius: 14px 7px 25px 0px;
  transition: 1s;


 }

 .port1-box:hover{
  transform: scale(1.1);
 }

 .port1-img{
  width:100%;
  height:auto;
  box-shadow: 12px 14px 32px 12px rgba(13, 12, 12, 0.15); 

 }

 .port1-img img{
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: center;
 }
 

 

 .port1-text .port-tittle{
  font-size: 1.3rem;
  font-weight: 500;
  color:#474747;
  text-overflow: hidden;
  line-height: 2px;


 }
.port-text h1
{
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
}
 .port1-text .port-tittle:hover{
  color:rgb(245, 188, 188);
  transition: all ease 0.3s;
 }

 .port1-text p{
  color:#090a0a;
  font-size:0.9rem;
 
  overflow: hidden;
  text-overflow: ellipsis;
 }
 .link2{
  color:#000303;
 }
 .link:hover{
  color: lightslategrey;
  transition:all ease 0.3s;
 }

 #bottom-container{
  background-color: rgb(166, 100, 111);
  
  /* background: url(https://img.freepik.com/free-vector/winter-blue-pink-gradient-background-vector_53876-117276.jpg?w=996&t=st=1665762504~exp=1665763104~hmac=2ab8c7b14b282ffa5d7ef02649ad11570ae36edcdb0972facce73a3539bf19a7); */
  
  padding: 50px 0 20px;}
  .footer-link{
    margin:0 1.1rem;
    text-align: center;
    
  }
  .bottom{
    margin-left: 28%;
    color: white;
  }
  .bottom a{
    color: white;
    font-size: 45px;
  }
  .bottom p{
    padding-left: 25%;
    padding-top: 10%;
    font-size: 45px;

  }
  .footer-link:hover{
    color:blue;
  }